# les dimenssions de la map 
cols = 20
rows = 35

# les vitesses des entités
 frank_speed = 1.1
 enemy_speed = 0.6
 
 # la densité des éléments 
 fruit_ratio = 100
 apple_ratio = 100 
 cherry_ratio = 100
 
 # nombre d'ennemis 
 enemy_count = 4
 
 #les coordonnées du spawner
 spawnerx = 2
 spawnery = 2
 
 #Affichage 
 view_cols = 10
 view_rows = 15
 
 # nombre de vies de frnk
 frank_lives = 3
 
 